## Imports

In [187]:
from google.auth import load_credentials_from_file
from google.cloud.bigquery import Client
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading data

### Credentials and query

In [2]:
# acessing bigquery redentials from local file 
credentials, project_id = load_credentials_from_file('service_account.json')

In [3]:
# Load data from BigQuery
client = Client(
    project = project_id,
    credentials=credentials
)

In [4]:
# listing tables 
database_id = "music_data"
tables = client.list_tables(database_id)

print(f"Tables contained in '{database_id}':")
for table in tables:
    print(f"{table.project}.{table.dataset_id}.{table.table_id}")

Tables contained in 'music_data':
da26-python.music_data.artists
da26-python.music_data.audio_features
da26-python.music_data.chart_positions
da26-python.music_data.tracks
da26-python.music_data.tracks_artists_mapping

In [5]:
# creating a data loading function 
def load_data(table): 
    # selecting table
    query = f"SELECT * FROM `da26-python.music_data.{table}`" 
    # creating query job and transforming to dataframe  
    load_job = client.query(query)
    data = load_job.to_dataframe() 
    # return dataframe 
    return data

### Load tables

In [6]:
artists = load_data('artists')

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [7]:
artists.head()

,artist_id,name,popularity,followers
0,13UwRaADQI0yTqjPBDkk6d,J-Shin (Featuring LaTocha Scott of Xscape),0,253
1,2LmsYeN3MzzZ9zhuZhNyqO,A*Teens,0,10
2,5Q25oFANw7zA3kD2DPaJ8D,The 2000s Karaoke Band,0,26
3,7u7ORV6MVjId1jfJwMdakL,2000s Karaoke Band,0,27
4,0LyfQWJT6nXafLPZqxe9Of,Various Artists,0,2542450

In [8]:
audio_features = load_data('audio_features')

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [9]:
audio_features.sample(5)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
1418,3NsqLy0x8l9VyNfOHQTNHs,0.452,0.871,6.0,-4.103,1.0,0.0426,0.1000,0.000020,0.2780,0.585,159.999,4.0
8318,7bxl7EVd1MIAnuwzLevEUu,0.549,0.805,6.0,-3.431,1.0,0.0277,0.0628,0.000005,0.3430,0.530,147.910,4.0
2193,6glsMWIMIxQ4BedzLqGVi4,0.725,0.640,5.0,-7.905,0.0,0.3320,0.0281,0.000000,0.0990,0.915,166.028,3.0
3644,47aIa6zbUGsdNn55cyuOug,0.617,0.862,2.0,-6.356,1.0,0.0337,0.0186,0.000000,0.1610,0.769,101.971,4.0
2223,2ZDxfuXmTIRCdXChbtHpW9,0.850,0.675,10.0,-7.915,0.0,0.0442,0.0107,0.000000,0.0914,0.816,131.996,4.0

In [10]:
chart_positions = load_data('chart_positions')

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [11]:
chart_positions.head()

   chart_week  list_position                track_id
0  2021-07-10             42  000TJlEJQ3nafsm1hBWpoj
1  2003-07-19             60  003FTlCpBTM4eSqYSWPv4H
2  2003-07-26             60  003FTlCpBTM4eSqYSWPv4H
3  2003-08-02             64  003FTlCpBTM4eSqYSWPv4H
4  2003-07-12             66  003FTlCpBTM4eSqYSWPv4H

In [12]:
tracks = load_data('tracks')

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [13]:
tracks.head()

,track_id,name,duration_ms,release_date,album_type,explicit
0,5CMVGP24paZIukljDj0iWc,Jingle Bells (with The Ken Lane Singers),156666,1945,compilation,False
1,25leEEaz1gIpp7o21Fqyjo,Here Comes Santa Claus (Right Down Santa Claus...,150266,1947,album,False
2,1dtIaSlyrLI04sqYa8nLyN,Rudolph the Red-Nosed Reindeer,186733,1947,album,False
3,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
4,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False

In [14]:
tracks_artists_mapping = load_data('tracks_artists_mapping')

/opt/anaconda3/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [15]:
tracks_artists_mapping.head()

                artist_id                track_id
0               artist_id                track_id
1  00FQb4jTyendYWaN8pK0wa  4zmKGsrXjLmljb5fTaBTot
2  00FQb4jTyendYWaN8pK0wa  6GGtHZgBycCgGBUhZo81xe
3  00FQb4jTyendYWaN8pK0wa  22DH8NChecsgPxDjA4pqer
4  00FQb4jTyendYWaN8pK0wa  7JVNRVPeXFAOdMrxOHNjVv

## Inital inspection

In [16]:
# listing tables 
database_id = "music_data"
tables = client.list_tables(database_id)

print(f"Tables contained in '{database_id}':")
for table in tables:
    print(f"{table.project}.{table.dataset_id}.{table.table_id}")

Tables contained in 'music_data':
da26-python.music_data.artists
da26-python.music_data.audio_features
da26-python.music_data.chart_positions
da26-python.music_data.tracks
da26-python.music_data.tracks_artists_mapping

### Artists

In [17]:
# inital inspection
artists.sample(10)

                   artist_id             name  popularity  followers
8     5lfsewMdyn5f9okNcLUtYM  Xander Phillips           0         79
1128  6fzQ81ouajOEFqCIB9VwrS     Morgan Evans          52     193407
2510  4EzkuveR9pLvDVFNx6foYD        James Bay          72    4031139
236   2xuavSHRMQ6dIyDjiFr8cu   3 Dope Brothas          26       2410
1182  3Yl4nkmEa8BSuGWbwhdLDq           G.R.L.          53     413736
797   6mXlDbi03T8wXYwWYew0Ut         Rich Boy          47     362516
2177  1bqxdqvUtPWZri43cKHac8              MAX          67     920638
3020  3q7HBObVc0L8jNeTe5Gofh          50 Cent          85   15692624
3016  1U1el3k54VvEUzo3ybLPlM       Kali Uchis          85    7947082
1091  4IQxLwHL2e8JRPQ1kbMuwi            Caius          52      11615

In [18]:
# checking dtypes, number of rows and number of null values 
artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3108 entries, 0 to 3107
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   artist_id   3108 non-null   object
 1   name        3108 non-null   object
 2   popularity  3108 non-null   Int64
 3   followers   3108 non-null   Int64
dtypes: Int64(2), object(2)
memory usage: 103.3+ KB

In [19]:
# checking for duplicated rows 
artists.duplicated().sum()

0

In [20]:
# checking number of unique values 
artists['name'].nunique()

3101

In [21]:
# checking max value in popularity
artists['popularity'].max()

100

In [22]:
# checking min value in popularity
artists['popularity'].min()

0

In [23]:
# checking max value in followers
artists['followers'].max()

123544806

In [24]:
# checking min value in followers
artists['followers'].min()

5

In [25]:
artists.head(10)

,artist_id,name,popularity,followers
0,13UwRaADQI0yTqjPBDkk6d,J-Shin (Featuring LaTocha Scott of Xscape),0,253
1,2LmsYeN3MzzZ9zhuZhNyqO,A*Teens,0,10
2,5Q25oFANw7zA3kD2DPaJ8D,The 2000s Karaoke Band,0,26
3,7u7ORV6MVjId1jfJwMdakL,2000s Karaoke Band,0,27
4,0LyfQWJT6nXafLPZqxe9Of,Various Artists,0,2542450
5,0sghswo09Y90G2q0eha4SW,Joe Osborne,0,23
6,14qvHyl1HApvsMrtxXljMM,Archuleta Maroon,0,21
7,1b9wvEcR1vuxoVu6isElSd,Anand Clique,0,109
8,5lfsewMdyn5f9okNcLUtYM,Xander Phillips,0,79
9,0o9FGMZT1bOTSGYFb7BoWz,Drop That Thun Thun,0,250

In [26]:
artists.tail(10)

                   artist_id               name  popularity  followers
3098  7dGJo4pcD2V6oG8kP0tJRR             Eminem          93   91487128
3099  12GqGscKJx3aE4t07u7eVZ         Peso Pluma          93   16616208
3100  0du5cEVh5yTK9QJze8zA0C         Bruno Mars          94   60197201
3101  0Y5tJX1MQlPlqiwlOH1tJY       Travis Scott          94   33611357
3102  4q3ewBCX7sLwd24euuV69X          Bad Bunny          95   86231149
3103  74KM79TiuVKeVCqs8QtB0B  Sabrina Carpenter          95   13599895
3104  1Xyo4u8uXC1ZmMpatF05PJ         The Weeknd          96   92598894
3105  6qqNVTkY8uBg9cP3Jd7DAH      Billie Eilish          96  100687015
3106  3TVXtAsR1Inumwj472S9r4              Drake          96   92537455
3107  06HL4z0CvFAxyc27GXpf02       Taylor Swift         100  123544806

### Audio features

In [27]:
# inital inspection 
audio_features.sample(10)

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
623,6hmhG1b4LEyNuashVvuIAo,0.583,0.732,11.0,-5.729,0.0,0.0459,0.00315,0.000010,0.2690,0.277,146.005,4.0
8816,2EvwLVrnYbCZEG6Kx5DCRy,0.769,0.638,11.0,-5.054,1.0,0.2160,0.09020,0.000000,0.0857,0.782,115.007,4.0
5642,1xbtFabmTCcxN0gozYj2AZ,0.433,0.406,5.0,-6.264,1.0,0.0279,0.29700,0.000000,0.0841,0.390,147.960,3.0
8206,471JGLzHPrgM4lS9mNOEIt,0.465,0.956,0.0,-3.340,0.0,0.1280,0.00963,0.000101,0.3350,0.665,184.126,4.0
970,7CG8Oz7GD8cTdU9SausPhj,0.559,0.562,9.0,-9.735,1.0,0.0274,0.00655,0.000000,0.0863,0.633,111.383,4.0
6259,4NCcEcogAZM6LgIptOpY2d,0.699,0.700,11.0,-5.704,1.0,0.0392,0.01090,0.079300,0.1520,0.301,102.023,4.0
6133,2xRGPubKBTHX6iyrpQvtCy,0.580,0.660,6.0,-7.405,0.0,0.0429,0.01660,0.000000,0.1740,0.411,123.801,4.0
9859,0gbLfFlEyVHiKzlZIb0gce,0.566,0.906,0.0,-5.092,1.0,0.0642,0.00452,0.000000,0.2100,0.787,83.000,4.0
1950,4dIrj82d70x7vGmUxTyOYC,0.618,0.748,0.0,-4.131,1.0,0.0373,0.08690,0.000000,0.6470,0.584,125.940,4.0
9583,20BOju91NaEFK5Py4VJ2pp,0.840,0.766,4.0,-4.120,1.0,0.1360,0.00302,0.000004,0.0684,0.402,94.018,4.0

In [28]:
# checking dtypes, number of rows and number of null values 
audio_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10783 entries, 0 to 10782
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          10776 non-null  object
 1   danceability      10776 non-null  float64
 2   energy            10776 non-null  float64
 3   key               10776 non-null  float64
 4   loudness          10776 non-null  float64
 5   mode              10776 non-null  float64
 6   speechiness       10776 non-null  float64
 7   acousticness      10776 non-null  float64
 8   instrumentalness  10776 non-null  float64
 9   liveness          10776 non-null  float64
 10  valence           10776 non-null  float64
 11  tempo             10776 non-null  float64
 12  time_signature    10776 non-null  float64
dtypes: float64(12), object(1)
memory usage: 1.1+ MB

In [29]:
# looking for duplicates 
audio_features.duplicated().sum()

6

In [30]:
# inspecting duplicates 
audio_features[audio_features.duplicated() == True]

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# looking for outliers by checking the mean, minimal and max value for each column
audio_features.describe()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000,10776.000000
mean,0.641901,0.663968,5.190423,-6.258711,0.647921,0.114843,0.186692,0.020238,0.182950,0.495219,122.563080,3.960375
std,0.150577,0.173540,3.609825,2.467240,0.477641,0.113855,0.227321,0.115044,0.138954,0.225929,29.702706,0.313069
min,0.000000,0.003430,0.000000,-33.833000,0.000000,0.000000,0.000002,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.540000,0.552000,2.000000,-7.421250,0.000000,0.036900,0.021475,0.000000,0.097200,0.316000,97.925750,4.000000
50%,0.647000,0.679000,5.000000,-5.843500,1.000000,0.059700,0.088300,0.000000,0.127500,0.491000,121.991500,4.000000
75%,0.752000,0.798000,8.000000,-4.619000,1.000000,0.155000,0.266250,0.000023,0.229000,0.669000,143.187250,4.000000
max,0.980000,0.999000,11.000000,0.175000,1.000000,0.951000,0.995000,0.985000,0.992000,0.976000,213.737000,5.000000

### Chart positions

In [32]:
# inital inspection
chart_positions.sample(10)

        chart_week  list_position                track_id
27456   2017-06-24             40  1e1JKLEDKP7hEQzJfNAgPl
31288   2018-07-07             84  1rqqCSm0Qe4I9rUvWncaom
90155   2000-05-20              5  5TAf4lnZCZTLlZHNZMLFLi
2955    2006-11-11             11  0ADZ5dmXhlfzjMw6lefoPl
8868    2020-07-18              2  0VjIjW4GlUZAMYd2vXMi3b
106735  2006-03-11             44  6TQi1WGLxAyy1itA3CqSlD
69786   2022-12-24             56  4C6Uex2ILwJi9sZXRdmqXp
74304   2007-05-05             44  4UPcXTh26ilb7owtuyHqNI
72547   2024-10-05             67  4Na2HfNSr58chvfX69fy36
98219   2020-07-11             18  5yY9lUy8nbvjM1Uyo1Uqoc

In [33]:
# checking dtypes, number of rows and number of null values 
chart_positions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129305 entries, 0 to 129304
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   chart_week     129305 non-null  dbdate
 1   list_position  129305 non-null  Int64
 2   track_id       129305 non-null  object
dtypes: Int64(1), dbdate(1), object(1)
memory usage: 3.1+ MB

In [34]:
# looking for dublidated rows
chart_positions.duplicated().sum()

0

In [35]:
# looking for outlisers in list position by checking max and min value
chart_positions['list_position'].describe()

count     129305.0
mean     50.498558
std      28.866804
min            1.0
25%           26.0
50%           50.0
75%           76.0
max          100.0
Name: list_position, dtype: Float64

### Tracks

In [36]:
# inital inspection 
tracks.sample(10)

,track_id,name,duration_ms,release_date,album_type,explicit
9061,0Ryd8975WihbObpp5cPW1t,boyfriend (with Social House),186106,2019-08-02,single,True
7711,0PgNhIg5n0UAOBVn43b8b6,The Adventures of Rain Dance Maggie,282400,2011-08-29,album,True
7887,5fEB6ZmVkg63GZg9qO86jh,Break from Toronto,99213,2013-07-01,album,True
3356,2X42KFgnOSaxOHMG0nDOdj,Fight for You,242173,2011-09-16,album,False
409,2mx0O7IniovyDS8Wi0B3Sq,Doo Wa Ditty (Blow That Thing),225093,1993-09-28,compilation,False
6119,35TyJIMR3xRouUuo2sjS6v,Cinema,243507,2022-05-20,album,False
8085,49zD0wr2S3d0lZPib0K4e1,Fuck Up Some Commas,237400,2015-07-17,album,True
2851,1ojdrbpUqSQ8ItXs4tZQwd,Borderline / Open Your Heart (Glee Cast Version),135800,2010-04-20,album,False
9683,4jKnLOQmIcTD72hfa9CdyG,Shock Da World,204171,2021-03-26,album,True
7031,3NjAxulzcqR9riwzAnoN7p,Midwest Swing,275388,2001-06-05,album,True

In [37]:
# checking dtypes, number of rows and number of null values 
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11070 entries, 0 to 11069
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      11070 non-null  object
 1   name          11070 non-null  object
 2   duration_ms   11070 non-null  Int64
 3   release_date  11070 non-null  object
 4   album_type    11070 non-null  object
 5   explicit      11070 non-null  boolean
dtypes: Int64(1), boolean(1), object(4)
memory usage: 465.0+ KB

In [38]:
# looking for duplicates
tracks.duplicated().sum()

287

In [39]:
# checking duplicates
tracks[tracks.duplicated()==True]

,track_id,name,duration_ms,release_date,album_type,explicit
4,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
5,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
13,4S1VYqwfkLit9mKVY3MXoo,Forever Young,226706,1984,album,False
25,7MQywXGHEev7JmwwIzMcao,Love Like This,275706,1998,album,False
63,1uPrIHgYztXSkkcts9jet8,She Bangs - English Version,280626,2000,album,False
...,...,...,...,...,...,...
11002,0QpiyJbgWUjyAQNqjIA5tO,Hate Me,161142,2024-07-26,single,True
11024,1qIwin7JMVuX70qN6wD8ww,It's Up (feat. Young Thug & 21 Savage),278000,2024-08-30,single,True
11029,1eroCliWpJrEu1V7VSObcO,Circadian Rhythm,126356,2024-08-30,single,True
11030,1eroCliWpJrEu1V7VSObcO,Circadian Rhythm,126356,2024-08-30,single,True
11038,3lUYO6zvXI88sNDpyKvIJ2,Or What,199165,2024-09-06,single,True

In [40]:
# looking for outliers by checking the minimal value
tracks['duration_ms'].min()

7500

In [41]:
# looking for outliers by checking the max value
tracks['duration_ms'].max()

1037906

In [42]:
# looking for outliers by checking the minimal value
tracks['release_date'].sample(10)

8163     2016-02-05
5320     2019-06-28
6854           1999
9924     2021-10-01
5221     2018-12-14
1585     2005-06-21
1869     2006-09-26
10857    2024-03-22
9390     2020-05-15
6683     2024-04-18
Name: release_date, dtype: object

In [43]:
# exploring row 256 further to get song name 
tracks.loc[256]

track_id        2HTRbbAy1RHTsRbJ0RNcjM
name                    Love Remembers
duration_ms                     235773
release_date                      2008
album_type                       album
explicit                         False
Name: 256, dtype: object

In [44]:
# getting artist_id by matching on track_id 
tracks_artists_mapping[tracks_artists_mapping['track_id'] == '4cJCNgN7nEF6Y560qcAAaQ']

                  artist_id                track_id
618  0EhgpjUqiIIQhM6ZRF4kXX  4cJCNgN7nEF6Y560qcAAaQ

In [45]:
# getting artist name by matching on artist_id 
artists[artists['artist_id'] == '0EhgpjUqiIIQhM6ZRF4kXX']

                  artist_id       name  popularity  followers
783  0EhgpjUqiIIQhM6ZRF4kXX  Pat Green          47     151080

In [46]:
# Trying to find a complete release date on Spotify for "Let Me" by "Pat Green"
# Assuming no more data is available since Spotify only has 2009 as release date

In [47]:
# finding all dates that do not follow YYYY-MM-DD format and adding to list for inspection
bad_dates = tracks[pd.to_datetime(tracks['release_date'], format='%Y-%m-%d', errors='coerce').isna()]['release_date'].tolist()

In [48]:
# inspecting bad dates 
bad_dates

['1945',
 '1947',
 '1947',
 '1962',
 '1962',
 '1962',
 '1963',
 '1963',
 '1979',
 '1980',
 '1984',
 '1984',
 '1984',
 '1984',
 '1988',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1998',
 '1998',
 '1998',
 '1998',
 '1998',
 '1998',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2013',
 '2013',
 '2013',
 '2013',
 '2013',
 '2013',
 '2013',
 '2014',
 '2014',
 '2014',
 '2014',
 '2014',
 '2014',
 '2014',
 '2015',
 '2016',
 '2016',
 '2022',
 '1957-09',
 '1957-09',
 '1996',
 '1997',
 '1998',
 '1999',
 '1999',
 '1999',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2003',
 '2003',
 '2004',
 '2004',
 '2004',
 '2004',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2006',
 '2006',
 '2007',
 '2007',
 '2008',
 '2008',
 '2009',
 '2009',
 '2009',
 '2011',
 '2011',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2013',
 '2013',
 '2014',
 '2018',
 '2018',
 '2018',
 '2018',
 '2018',
 '2018',
 '2018']

In [49]:
# checking values in album_type and counting each  
tracks['album_type'].value_counts()

album_type
album          8977
single         1671
compilation     422
Name: count, dtype: int64

In [50]:
# checking values in explicit and counting each 
tracks['explicit'].value_counts()

explicit
False    6850
True     4220
Name: count, dtype: Int64

### Tracks artists mapping

In [51]:
# inital isnpection
tracks_artists_mapping.sample(10)

                    artist_id                track_id
14030  7H6dkUChT5EoOQtUVMg4cN  7EIbjRAv9K5ccoH4XivnTk
10179  55Aa2cqylxrFIXC767Z865  6bxUnsSGZCmoHHU5auwtps
14341  7dGJo4pcD2V6oG8kP0tJRR  6Xk7PnitV9jCRorWt2LiVZ
2174   0tmwSHipWxN12fsoLcFU3B  5ww2BF9slyYgNOk37BlC4u
1583   0cGUm45nv7Z6M6qdXYQGTX  0pJPdSVti6cTM1Q6xYGmcf
1621   0du5cEVh5yTK9QJze8zA0C  3w3y8KPTfNeOKPiqUTakBh
741    0IF46mUS8NXjgHabxk2MCM  6YYd5MLpu45J0uLrMdivF7
5557   2hlmm7s2ICUX0LVIhVFlZQ  3pq5dd3Hwg2uJ3d63v9YRx
5027   2MqhkhX4npxDZ62ObR5ELO  1PJRDeZSoZk7gtisdTYfLi
3301   1ShZZUjkbXCjhwrb18BA8I  0OgGn1ofaj55l2PcihQQGV

In [52]:
# checking dtypes, number of rows and number of null values 
tracks_artists_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15048 entries, 0 to 15047
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   artist_id  15048 non-null  object
 1   track_id   15048 non-null  object
dtypes: object(2)
memory usage: 235.3+ KB

In [53]:
# looking for duplicates
tracks_artists_mapping.duplicated().sum()

0

## Data cleaning

### Deleting duplicates in audio features

In [54]:
# saving duplicates to list  
duplicates_list = audio_features.loc[audio_features.duplicated()].index

In [55]:
# dropping duplicates 
audio_features.drop(duplicates_list, inplace=True)

# resetting the index 
audio_features.reset_index(drop= True, inplace= True)

In [56]:
audio_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10777 entries, 0 to 10776
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          10776 non-null  object
 1   danceability      10776 non-null  float64
 2   energy            10776 non-null  float64
 3   key               10776 non-null  float64
 4   loudness          10776 non-null  float64
 5   mode              10776 non-null  float64
 6   speechiness       10776 non-null  float64
 7   acousticness      10776 non-null  float64
 8   instrumentalness  10776 non-null  float64
 9   liveness          10776 non-null  float64
 10  valence           10776 non-null  float64
 11  tempo             10776 non-null  float64
 12  time_signature    10776 non-null  float64
dtypes: float64(12), object(1)
memory usage: 1.1+ MB

In [57]:
# looking for last row containing null values  
audio_features.head()

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3lZpvPprN56RWqDqrKy9vl,0.000,0.532,3.0,-7.447,1.0,0.0000,0.976,0.000000,0.0000,0.0000,0.000,0.0
2,7rLDARtJALM7QdiJDMXW7m,0.250,0.215,8.0,-13.676,0.0,0.0370,0.632,0.071700,0.4010,0.0746,174.824,3.0
3,4TbNLKRLKlxZDlS0pu7Lsy,0.250,0.136,10.0,-12.162,1.0,0.0370,0.673,0.000157,0.1070,0.0981,118.086,4.0
4,6LtHYDgYHRCHoKK3snfr2w,0.375,0.133,0.0,-10.624,0.0,0.0352,0.651,0.000000,0.0695,0.1920,131.721,4.0

In [58]:
# dropping row 0 
audio_features.drop(0, inplace=True)

In [59]:
# resetting the index 
audio_features.reset_index(drop= True, inplace= True)

In [60]:
# sanitycheck 
audio_features.head()

,track_id,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,3lZpvPprN56RWqDqrKy9vl,0.000,0.532,3.0,-7.447,1.0,0.0000,0.976,0.000000,0.0000,0.0000,0.000,0.0
1,7rLDARtJALM7QdiJDMXW7m,0.250,0.215,8.0,-13.676,0.0,0.0370,0.632,0.071700,0.4010,0.0746,174.824,3.0
2,4TbNLKRLKlxZDlS0pu7Lsy,0.250,0.136,10.0,-12.162,1.0,0.0370,0.673,0.000157,0.1070,0.0981,118.086,4.0
3,6LtHYDgYHRCHoKK3snfr2w,0.375,0.133,0.0,-10.624,0.0,0.0352,0.651,0.000000,0.0695,0.1920,131.721,4.0
4,60RFlt48hm0l4Fu0JoccOl,0.375,0.428,0.0,-7.387,1.0,0.0290,0.109,0.000000,0.1050,0.3610,78.516,4.0

### Deleting duplicates in tracks

In [61]:
# inspecting duplicated rows 
tracks[tracks.duplicated() == True]

,track_id,name,duration_ms,release_date,album_type,explicit
4,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
5,4PS1e8f2LvuTFgUs1Cn3ON,The Christmas Song (Merry Christmas To You),192160,1962,album,False
13,4S1VYqwfkLit9mKVY3MXoo,Forever Young,226706,1984,album,False
25,7MQywXGHEev7JmwwIzMcao,Love Like This,275706,1998,album,False
63,1uPrIHgYztXSkkcts9jet8,She Bangs - English Version,280626,2000,album,False
...,...,...,...,...,...,...
11002,0QpiyJbgWUjyAQNqjIA5tO,Hate Me,161142,2024-07-26,single,True
11024,1qIwin7JMVuX70qN6wD8ww,It's Up (feat. Young Thug & 21 Savage),278000,2024-08-30,single,True
11029,1eroCliWpJrEu1V7VSObcO,Circadian Rhythm,126356,2024-08-30,single,True
11030,1eroCliWpJrEu1V7VSObcO,Circadian Rhythm,126356,2024-08-30,single,True
11038,3lUYO6zvXI88sNDpyKvIJ2,Or What,199165,2024-09-06,single,True

In [62]:
# saving duplicates to list  
duplicates_list = tracks.loc[tracks.duplicated()].index

In [63]:
# dropping duplicates 
tracks.drop(duplicates_list, inplace=True)

# resetting the index 
tracks.reset_index(drop= True, inplace= True)

In [64]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10783 entries, 0 to 10782
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      10783 non-null  object
 1   name          10783 non-null  object
 2   duration_ms   10783 non-null  Int64
 3   release_date  10783 non-null  object
 4   album_type    10783 non-null  object
 5   explicit      10783 non-null  boolean
dtypes: Int64(1), boolean(1), object(4)
memory usage: 452.9+ KB

### Converting string to datetime

In [65]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10783 entries, 0 to 10782
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      10783 non-null  object
 1   name          10783 non-null  object
 2   duration_ms   10783 non-null  Int64
 3   release_date  10783 non-null  object
 4   album_type    10783 non-null  object
 5   explicit      10783 non-null  boolean
dtypes: Int64(1), boolean(1), object(4)
memory usage: 452.9+ KB

In [66]:
# inspecting bad dates 
bad_dates

['1945',
 '1947',
 '1947',
 '1962',
 '1962',
 '1962',
 '1963',
 '1963',
 '1979',
 '1980',
 '1984',
 '1984',
 '1984',
 '1984',
 '1988',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1998',
 '1998',
 '1998',
 '1998',
 '1998',
 '1998',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '1999',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2003',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2004',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2006',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2007',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2008',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2010',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2011',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2013',
 '2013',
 '2013',
 '2013',
 '2013',
 '2013',
 '2013',
 '2014',
 '2014',
 '2014',
 '2014',
 '2014',
 '2014',
 '2014',
 '2015',
 '2016',
 '2016',
 '2022',
 '1957-09',
 '1957-09',
 '1996',
 '1997',
 '1998',
 '1999',
 '1999',
 '1999',
 '2000',
 '2000',
 '2000',
 '2000',
 '2000',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2001',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2002',
 '2003',
 '2003',
 '2004',
 '2004',
 '2004',
 '2004',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2005',
 '2006',
 '2006',
 '2007',
 '2007',
 '2008',
 '2008',
 '2009',
 '2009',
 '2009',
 '2011',
 '2011',
 '2012',
 '2012',
 '2012',
 '2012',
 '2012',
 '2013',
 '2013',
 '2014',
 '2018',
 '2018',
 '2018',
 '2018',
 '2018',
 '2018',
 '2018']

In [67]:
# function that takes a bad date and returns bad date + January first or bad date + first day of month
def convert_bad_dates(date_string):
    # check if string is YYYY and return YYYY + -01-01
    if len(date_string) == 4:  
        return f"{date_string}-01-01"
    
    # check if string is YYYY-MM and return YYYY-MM + -01
    if len(date_string) == 7:  
        return f"{date_string}-01"
    
    # otherwise return original string
    return date_string

In [68]:
# test round 
test = tracks['release_date'].apply(convert_bad_dates)

In [69]:
# validating test result by adding all potential bad dates from test to list 
bad_dates_test = tracks[pd.to_datetime(test, format='%Y-%m-%d', errors='coerce').isna()]['release_date'].tolist()

In [70]:
# inspecting list
bad_dates_test

[]

In [71]:
# applying function to tracks and re-assigning release date column 
tracks['release_date'] = tracks['release_date'].apply(convert_bad_dates)

In [72]:
# converting release_date column in tracks table from string to datetime for convenient filtering down the line 
tracks['release_date'] = pd.to_datetime(tracks['release_date'])

In [73]:
tracks['release_date']

0       1945-01-01
1       1947-01-01
2       1947-01-01
3       1962-01-01
4       1963-01-01
           ...
10778   2024-10-01
10779   2024-10-01
10780   2024-10-01
10781   2024-10-04
10782   2024-10-11
Name: release_date, Length: 10783, dtype: datetime64[ns]

In [74]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10783 entries, 0 to 10782
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      10783 non-null  object
 1   name          10783 non-null  object
 2   duration_ms   10783 non-null  Int64
 3   release_date  10783 non-null  datetime64[ns]
 4   album_type    10783 non-null  object
 5   explicit      10783 non-null  boolean
dtypes: Int64(1), boolean(1), datetime64[ns](1), object(3)
memory usage: 452.9+ KB

In [75]:
chart_positions.head()

   chart_week  list_position                track_id
0  2021-07-10             42  000TJlEJQ3nafsm1hBWpoj
1  2003-07-19             60  003FTlCpBTM4eSqYSWPv4H
2  2003-07-26             60  003FTlCpBTM4eSqYSWPv4H
3  2003-08-02             64  003FTlCpBTM4eSqYSWPv4H
4  2003-07-12             66  003FTlCpBTM4eSqYSWPv4H

In [76]:
chart_positions.keys()

Index(['chart_week', 'list_position', 'track_id'], dtype='object')

In [77]:
# converting chart_week column in chart_positions table from string to datetime for convenient filtering down the line 
chart_positions['chart_week'] = pd.to_datetime(chart_positions['chart_week'])

In [78]:
chart_positions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129305 entries, 0 to 129304
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   chart_week     129305 non-null  datetime64[ns]
 1   list_position  129305 non-null  Int64
 2   track_id       129305 non-null  object
dtypes: Int64(1), datetime64[ns](1), object(1)
memory usage: 3.1+ MB

## Exploratory analysis

### Does each billboard contain 100 songs?

In [81]:
# sorting values on chart week and list postion in acending order 
sorted_chart_positions = chart_positions.sort_values(by = ['chart_week', 'list_position'], ascending= True)

In [91]:
# making sure list postition goes from 1 to 100 per date in chart week 
sorted_chart_positions.head(100)

       chart_week  list_position                track_id
26220  2000-01-01              1  1Yp6SnaxRGguBjcEFarluk
112007 2000-01-01              2  6mwA6YiKDjAUG8kWvRRUPh
93449  2000-01-01              3  5gZEhPrN1VLqTG1nIAXeNK
27156  2000-01-01              4  1ckU1EhAO0Nr73QYw24SWJ
112335 2000-01-01              5  6nozDLxeL0TE4MS9GqYU1v
...           ...            ...                     ...
10073  2000-01-01             96  0aDZf17dBo4qnBBQBZsJSI
87091  2000-01-01             97  5GDzpCJAhKjfzMEiXpYdhl
81243  2000-01-01             98  4u6U5nwYHok67BBymI9ldh
48066  2000-01-01             99  2sPXJCnKyQ1SWjc2JdFnQK
41968  2000-01-01            100  2VqjCBJ4AxpDTrNRKhL0Pw

[100 rows x 3 columns]

In [162]:
# counting list positions per date to verify that each billboard has 100 listings 
charts_count = sorted_chart_positions.groupby('chart_week')['list_position'].count()
charts_count

chart_week
2000-01-01    100
2000-01-08    100
2000-01-15    100
2000-01-22    100
2000-01-29    100
             ...
2024-09-14    100
2024-09-21    100
2024-09-28    100
2024-10-05    100
2024-10-12    100
Name: list_position, Length: 1294, dtype: Int64

In [164]:
# counting number of dates (aka. number of charts)
charts_count.count()

1294

In [139]:
# counting number of weeks where billboard listings are not 100
charts_count[charts_count !=100].count()

86

In [161]:
# filtering on dates where listing count is not 100 and counting the frequency of each listing number
filtered_charts = charts_count[charts_count !=100]
filtered_charts.value_counts()

list_position
99    77
98     9
Name: count, dtype: Int64

### How long does a hit song maintain its position on the billboards?

In [178]:
sorted_chart_positions.groupby('chart_week')['track_id'].count()

chart_week
2000-01-01    100
2000-01-08    100
2000-01-15    100
2000-01-22    100
2000-01-29    100
             ...
2024-09-14    100
2024-09-21    100
2024-09-28    100
2024-10-05    100
2024-10-12    100
Name: track_id, Length: 1294, dtype: int64

In [180]:
number_of_hits = sorted_chart_positions['track_id'].value_counts()

In [186]:
number_of_hits.mean()

11.991560790132617

In [188]:
sorted_chart_positions

       chart_week  list_position                track_id
26220  2000-01-01              1  1Yp6SnaxRGguBjcEFarluk
112007 2000-01-01              2  6mwA6YiKDjAUG8kWvRRUPh
93449  2000-01-01              3  5gZEhPrN1VLqTG1nIAXeNK
27156  2000-01-01              4  1ckU1EhAO0Nr73QYw24SWJ
112335 2000-01-01              5  6nozDLxeL0TE4MS9GqYU1v
...           ...            ...                     ...
49678  2024-10-12             96  2yR2sziCF4WEs3klW1F38d
91886  2024-10-12             97  5ahdQDl9WGN9dNDDH0RKyJ
9466   2024-10-12             98  0XuEfX2tOQPxhJCIMcjkgD
43711  2024-10-12             99  2bl81llf715VEEbAx03yvB
9457   2024-10-12            100  0XkZmBCCcdMY0EPY8ij6Gb

[129305 rows x 3 columns]